POSTGRES_DB=joomla
POSTGRES_USER=joomla
POSTGRES_PASSWORD=joomla_pass_123

JOOMLA_SITE_NAME=Portal Institucional
JOOMLA_ADMIN_USER=Administrador
JOOMLA_ADMIN_USERNAME=admin
JOOMLA_ADMIN_PASSWORD=Admin_Parcial_2026
JOOMLA_ADMIN_EMAIL=admin@example.com

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin